.position-absolute-center{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
.reactions{
    bottom: 3px;
    right: 15px;
}
.reactionRight{
    right: 0;
    bottom: -9px;
}
.media-body{
    hyphens: auto;
}
.loadingCenter{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}